* {
	font-family: 'Nanum Gothic', sans-serif;
}

ul.myPage_menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #D2D2D2;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    z-index : 5;
    text-align: center;   
    float:left;
    height:108vh;
    vertical-align:bottom;
    margin-top: -7px;
}
li.myPage_menu_li{
   
}
li.myPage_menu_li a {
   display: block;
    color: #000;
    padding-top: 15px;
    text-decoration: none;
    vertical-align:middle;
    padding-bottom: 10px;
}
li.myPage_menu_li a:hover {
    background-color: #555;
    color: white;
}

.myPage_menu_ul_active {
    background-color: #4CAF50;
    color: white;
}

div.myPage {
   width:100%;
   min-height: 80vh;
   height:auto;
}

.myPage_body {
   width: 80%;
   height: 108vh;
   background-color: #F3F3F3;
   padding: 50px 0px 0px 50px;
   z-index : 5;
   min-height: 80%;
   float:left;
   overflow: auto;
   margin-top: -7px;
}